.Rproj.user
.Rhistory
.RData
.Ruserdata

in_eez/*
!in_eez/.gitkeep

in_marine_parks/*
!in_marine_parks/.gitkeep

in_raster/*
!in_raster/.gitkeep

in_sampling_sites/*
!in_sampling_sites/.gitkeep

out_plots/*
!out_plots/.gitkeep

temp/*
!temp/.gitkeep